@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body, h1 {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.title {
  margin-left: 60px;
  margin-top: 18px;
  font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-size: 72px;
  letter-spacing: -0.07em;
}

.headerLinks {
  margin-top: 46px;
}

.newBook, .login {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  text-align: center;
  border: none;
  background: white;
  cursor: pointer;
}

.login {
  margin-right: 60px;
  margin-left: 24px;
}

.mainImg {
  margin-top: 12px;
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.imgRef {
  position: relative;
  bottom: 48px;
  right: -5px;
  text-decoration: none;
  color: white;
}

.imgRef > a {
  color: white;
}

.form {
  height: 305px;
  background: #DCF5B2;
  position: relative;
  bottom: 358px;
  -webkit-transition: height 0.2s linear;
       -moz-transition: height 0.2s linear;
        -ms-transition: height 0.2s linear;
         -o-transition: height 0.2s linear;
            transition: height 0.2s linear;
}

.hidden {
  height: 0px;
    -webkit-transition: height 0.2s linear;
       -moz-transition: height 0.2s linear;
        -ms-transition: height 0.2s linear;
         -o-transition: height 0.2s linear;
            transition: height 0.2s linear;
}