@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap');

body, h1, h2, p {
  margin: 0;
  font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-left: 60px;
  margin-top: 18px;
  font-weight: 900;
  font-size: 72px;
  letter-spacing: -0.07em;
}

.headerLinks {
  margin-top: 46px;
}

.newBook, .login {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  text-align: center;
  border: none;
  background: white;
  cursor: pointer;
}

.login {
  margin-right: 60px;
  margin-left: 24px;
}

.imgWithForm {
  height: 305px;
}

.mainImg {
  margin-top: 12px;
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.imgRef {
  position: relative;
  bottom: 25px;
  right: -5px;
  text-decoration: none;
  color: white;
}

.imgRef > a {
  color: white;
}

.form {
  height: 305px;
  background: #DCF5B2;
  position: relative;
  bottom: 327px;
  -webkit-transition: height 0.1s linear;
       -moz-transition: height 0.1s linear;
        -ms-transition: height 0.1s linear;
         -o-transition: height 0.1s linear;
            transition: height 0.1s linear;
}

.hiddenForm {
  height: 0px;
    -webkit-transition: height 0.1s linear;
       -moz-transition: height 0.1s linear;
        -ms-transition: height 0.1s linear;
         -o-transition: height 0.1s linear;
            transition: height 0.1s linear;
}

.formRow {
  display: flex;
}

.opacityFull {
  opacity: 0;
  -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
}

.opacityZero {
  opacity: 1;
  -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
         -o-transition: opacity 1s;
            transition: opacity 1s;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 40px;
}

label {
  font-weight: 400;
  font-size: 24px;
}

input {
  font-weight: 400;
  font-size: 24px;
  margin-top: 18px;
  color: rgb(0, 101, 119);
  border-top: none; 
  border-left: none; 
  border-right: none;
  border-bottom: solid black;
  background: none;
}

input[type="checkbox"] {
  margin-left: 0;
  margin-top: 25px;
  align-self: start;
  appearance: none;
  background: none;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.1em;
  transform: translateY(-0.075em);
}

input[type="checkbox"]:checked {
  background: rgba(88, 34, 202, 0.582);
}

.formBtn {
  background: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}

.noBooks {
  margin-top: 60px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  height: 350px;
  width: 250px;
}

.bookButton {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  border: none;
  background: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.formContent {
  opacity: 1;
  transition: opacity 0.5s;
}

.hiddenFormContent {
  opacity: 0;
  transition: opacity 0s;
}

.readingTitle, .readTitle {
  margin-left: 60px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 48px;
}

.line {
  margin-left: 60px;
  height: 2px;
  width: 600px;
  background-color: #000000;
}

.wrapper {
  display: grid;
  margin: 24px 60px 16px 60px;
  margin-left: 60px;
  margin-right: 60px;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
}

.book {
  height: 380px;
  width: 200px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.bookImg {
  width: 180px;
  height: 260px;
  margin-left: 10px;
  margin-top: 10px;
  object-fit: cover;
}

.bookTitle {
  margin-left: 10px;
  font-family: 'Lora';
  font-weight: 400;
  font-size: 18px;
}

.author {
  margin-left: 10px;
  margin-top: 8px;
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
}

.stats {
  display: flex;
  margin-top: 28px;
  margin-left: 10px;
}

.notComplete {
  height: 16px;
  width: 16px;
  border: none;
  cursor: pointer;
  background: rgba(255, 0, 0, 0.6);
}

.pages, .pagesText {
  margin-left: 4px;
  font-family: 'Lora';
  font-weight: 400;
  font-size: 16px;
}

.complete {
  height: 16px;
  width: 16px;
  border: none;
  cursor: pointer;
  background: rgba(32, 115, 5, 0.521);
}

